* {
    padding: 0;
    margin: 0;
}
html {
    position: absolute;
    height: 100000px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
html::-webkit-scrollbar {
    display: none;
}
canvas {
    position: sticky;
    top: 0px;
    height: auto;
}
ul {
    margin-block: 5%;
    /* background-color: bisque; */
}
li {
    height: 50px;
    margin-block: 0px;
}
/* li:last-child {
    background-color: red;
}
li:first-child {
    background-color: brown;
} */